section.menu: .w
  .menu__logo
  .menu__loc Москва и Московская область
  .menu__contacts
    .menu__phone +7 (499) 322-14-82
    .menu__cta Звоните на бесплатную линию
    .menu__works 24 часа без выходных