include ../button/button

.form: .w.form__content
  .form__title #[span Оставьте заявку] и мы перезвоним вам за 30 секунд
  .form__items
    .form__input: input(placeholder='Ваше имя')
    .form__input: input(placeholder='Ваш телефон' type='tel')
    .form__button: +button('input')(type='submit' value='Оставить заявку')
