.types
  .types__title Виды кредитования
  .w
    .types__item.types__item--1
      .types__item-title БАНКОВСКИЙ КРЕДИТ
      .types__item-text
        p От 9% до 12.5% годовых#[br]Без подтверждения дохода
        p Список требуемых документов:
        ul
          li Паспорт
          li Свидетельство на квартиру
    .types__item.types__item--2
      .types__item-title ИНВЕСТОРСКИЙ КРЕДИТ
      .types__item-text
        p 2% годовых#[br]Без подтверждения дохода
        p Список требуемых документов:
        ul
          li Паспорт
          li Свидетельство на квартиру
