.button
  display: inline-block
  vertical-align: bottom
  background: #36AF47
  color: #fff
  height: 73px
  //line-height: 73px
  font-size: 18px
  font-weight: 500
  text-align: center
  text-transform: uppercase
  padding: 0 42px
  cursor: pointer
  outline: 0
  border: 0
  border-radius: 37px
  user-select: none
  -webkit-appearance: none
  -moz-appearance: none;
  anim(.15s)

  &:hover
    box-shadow: 0 10px 25px 5px rgba(#36AF47, .4)
