header.header: .w
    .header__image: img(src='img/header-image.jpg')
    .header__content
      .header__subtitle Не устраивает сумма залога #[br]за Вашу недвижимость?
      h1.header__title Мы готовы одобрить Вам займ #[br]до 90% от ее рыночной стоимости #[br]#[span в день обращения под 10%]
      .header__subtext Деньги под залог недвижимости:
      .header__text
        p Квартиры, частные дома, коммерческая #[br]недвижимость, доли в квартире или комнаты.
        p В день обращения, без подтверждения дохода #[br]и кредитной истории.