footer.footer: .w
  .footer__content
    div
      .footer__logo
      .footer__copyright
        | ООО «Финансовый Сервис»#[br]
        | Москва, м.Выставочная, ул.Антонова-Овсеенко, д.15 с.1#[br]
        | © invest-zalog.ru 2015 Все права защищены

    .footer__contacts
      .footer__phone +7 (499) 322-14-82
      .footer__cta ЗВОНИТЕ НА БЕСПЛАТНУЮ ЛИНИЮ
      .footer__works с 9:00 до 21:00
    .footer__top