extends pug/_layout

block body
  include modules/menu/menu
  include modules/header/header
  include modules/bullets/bullets
  include modules/form/form
  include modules/types/types
  include modules/calc/calc
  include modules/partners/partners
  include modules/footer/footer